@font-face {
    font-family: Determination;
    src: url(./assets/Determination.ttf);
}
h1 {
    font-family: Determination;
    font-size: 0;
}
#game {
    border: 2px solid white;
    width: 1440px;
    height: 900px;
    margin: auto;
}

#logo {
    margin: auto;
    width: 512px;
    height: 100px;
    text-align: center;
    background-color: black;
    font-size: 60px;
}

body {
    background-color: black;
    background-position: center;
    background-size: cover;
}